<h3>Product details</h3>
<div>
<div>
<label><b>Product Id :</b></label>{{product.productId}}
</div>

<div>
    <label><b>Product Name :</b></label>{{product.productName}}
</div>
    <div>
        <label><b>Brand Name :</b></label>{{product.brandName}}
    </div>
    <div>
        <label><b>Price :</b></label>{{product.price}}
    </div>
    <div>
        <label><b>Discount Percent :</b></label>{{product.discountPercent}}
    </div>
    <div>
        <label><b>Expiry Date :</b></label>{{product.expiryDate}}
    </div>
    <div>
        <label><b>Manufactured Date:</b></label>{{product.manufacturedDate}}
    </div>
    </div>

